body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.inner-search-panel {
  height: 70px;
}
.search_panel_input_container {
  padding: 5px;
}
input[type="file"] {
  display: inline !important;
}
#overlay {
  height: 100%;
  position: absolute;
  width: 100%;
  background-color: #808080;
  z-index: 10000;
  left: 0;
  top: 0;
  opacity: 0.3;
}
#message {
  width: 300px;
  height: 50px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
  z-index: 10005;
  background-color: #f5f5f5;
  text-align: center;
  color: #f00;
  padding: 16px;
}
