body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.inner-search-panel {
  height: 70px;
}
.search_panel_input_container {
  padding: 5px;
}
input[type="file"] {
  display: inline !important;
}
